@tailwind base;
@tailwind components;
@import "component";
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-900;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #000000 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  @apply bg-slate-800;
}

*::-webkit-scrollbar-thumb {
  @apply bg-sky-600;
  border-radius: 10px;
}
